@font-face {
    font-family: Rubik-Bold;
    src: url(../fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: Rubik-Italic;
    src: url(../fonts/Rubik-Italic.ttf);
}

@font-face {
    font-family: Rubik-Regular;
    src: url(../fonts/Rubik-Regular.ttf);
}

:root {
    --main-color: #1089FF;
    --background-color: #23374D;
    --secondary-color: #E5E5E5;
    --bonus-color: #EEEEEE;
    --bgcolor1: #5087B7;
    --bgcolor2: #5C92BF;
    --bgcolor3: #679DCA;
    --bgcolor4: #73A8D2;
    --bgcolor5: #7EB3DD;
    --bgcolor6: #8ACFE7;
    --bgbutton: #95DAF2;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

body > * {
    padding-top: 50px;
    padding-bottom: 50px;
}

h3 {
    color: var(--background-color);
    font-size: 25px;
    font-family: Rubik-Bold, sans-serif;
}

p {
    color: var(--background-color);
    font-size: 20px;
    font-family: Rubik-Bold, sans-serif;
}

.navigation-container {
    padding-top: 0;
    padding-bottom: 0;
    position: fixed;
    z-index: 1000;
    height: 50px;
    top: 0;
    width: 100%;
    font-family: Rubik-Bold, sans-serif;
    background-color: var(--background-color);
    text-align: left !important;
}

.navigation-container img {
    height: 100%;
}

.navigation-container > .nav-header {
    display: inline;
}

.navigation-container > .navigation-buttons {
    display: none;
}

.navigation-container > .navigation-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.navigation-container > .navigation-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.navigation-container > .navigation-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.navigation-container > #navigation-click-check {
    height: 50px;
    display: none;
}

@media (max-width: 635px) {
    .navigation-container > .navigation-buttons {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .navigation-container > .navigation-buttons > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }


    .navigation-container > .navigation-buttons > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .navigation-container > .navigation-links {
        overflow: hidden;
        position: absolute;
        display: block;
        width: 100%;
        background-color: var(--background-color);
        height: 0;
        transition: all 0.3s ease-in;
        top: 50px;
        left: 0;
    }

    .navigation-container > .navigation-links > a {
        display: block;
        width: 100%;
    }

    .navigation-container > #navigation-click-check:not(:checked) ~ .navigation-links {
        height: 0;
    }

    .navigation-container > #navigation-click-check:checked ~ .navigation-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

.slider-container {
    margin-top: 50px;
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    padding-top: 100px;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}

.slide.active {
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s ease-in-out;
}


.course-information-container {
    background-color: var(--bgcolor1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.course-information-container h2 {
    font-family: Rubik-Bold, sans-serif;
    text-align: center;
    color: white;
    font-size: 36px;
}

.course-information-images {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.course-information-image {
    filter: invert(1);
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0 10px;
}

.about-course-description {
    color: #333;
    font-size: 18px;
}

.course-information-text {
    font-size: 20px;
    color: white;
    font-family: Rubik-Regular;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 7px rgba(66, 68, 90, 1);
}

.footer {
    font-family: Rubik-Bold, sans-serif;
    color: #fff;
    background-color: #333;
    padding: 20px 0;
    font-size: 16px;
    text-align: center;
}

.container {
    background-color: #333;
    color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-links li a {
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

.footer-text {
    color: white;
    font-size: 16px;
    margin-top: 15px;
}

.mentors-container {
    background: rgb(103, 157, 202);
    background: -moz-linear-gradient(180deg, rgba(103, 157, 202, 1) 90%, rgba(92, 146, 191, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(103, 157, 202, 1) 90%, rgba(92, 146, 191, 1) 100%);
    background: linear-gradient(180deg, rgba(103, 157, 202, 1) 90%, rgba(92, 146, 191, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#679dca", endColorstr="#5c92bf", GradientType=1);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.mentors-container h2 {
    font-family: Rubik-Bold, sans-serif;
    text-align: center;
    font-size: 36px;
    color: var(--background-color);
}

.mentors-images {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.mentors-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 10px;
}

.about-us-description {
    color: #333;
    font-size: 18px;
}

.mentor-description {
    margin-top: 10px;
    font-size: 20px;
    font-family: Rubik-Regular;
}

.recommendations-container {
    background: rgb(115, 168, 210);
    background: -moz-linear-gradient(360deg, rgba(115, 168, 210, 1) 90%, rgba(92, 146, 191, 1) 100%);
    background: -webkit-linear-gradient(360deg, rgba(115, 168, 210, 1) 90%, rgba(92, 146, 191, 1) 100%);
    background: linear-gradient(360deg, rgba(115, 168, 210, 1) 90%, rgba(92, 146, 191, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#73a8d2", endColorstr="#5c92bf", GradientType=1);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*margin-top: 20px;*/
    text-align: center;
}

.recommendations-container h2 {
    font-family: Rubik-Bold, sans-serif;
    text-align: center;
    font-size: 36px;
    color: var(--background-color);
}

.recommendations-images {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.recommendations-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 10px;
}

.recommend-us-description {
    color: #333;
    font-size: 18px;
}

.recommendations-text {
    font-family: Rubik-Regular, sans-serif;
    margin-top: 10px;
    font-size: 20px;
}

.sponsors-container {
    background-color: var(--bgcolor6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.sponsors-container h2 {
    font-family: Rubik-Bold, sans-serif;
    text-align: center;
    font-size: 36px;
    color: var(--background-color);
}

.sponsors-images {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.sponsors-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 0 10px;
}

.benefits-container {
    background-color: var(--bgcolor2);
    text-align: center;
}

.benefits-container h2 {
    font-family: Rubik-Bold, sans-serif;
    text-align: center;
    font-size: 36px;
    color: var(--background-color);
}

.benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.benefit {
    text-align: center;
    flex: 0 0 33.33%;
    margin-bottom: 20px;
}

.benefit img {
    width: 180px;
    height: auto;
    margin: 0 auto;
}

.slider2-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    padding-top: 100px;
}

.slide2 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}

.slide2.active {
    opacity: 1;
}

.slide2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s ease-in-out;
}


/*768px dla tabletow*/
@media only screen and (max-width: 768px) {
    .slider-container {
        height: 200px;
    }

    .course-information-images {
        flex-wrap: wrap;
    }

    .course-information-image {
        margin-bottom: 10px;
    }

    .about-course-description {
        text-align: center;
    }

    .recommendations-images {
        flex-wrap: wrap;
    }

    .recommendations-image {
        margin-bottom: 10px;
    }

    .recommend-us-description {
        text-align: center;
    }

    .mentors-images {
        flex-wrap: wrap;
    }

    .mentors-image {
        margin-bottom: 10px;
    }

    .about-us-description {
        text-align: center;
    }

    .sponsors-images {
        flex-wrap: wrap;
    }

    .sponsors-image {
        margin-bottom: 10px;
    }

    .benefits {
        grid-template-columns: repeat(2, 1fr);
    }
}

.questions-container {
    max-width: 100%;
    background-color: var(--bgcolor5);
}

.questions {
    max-width: 600px;
    margin: 0 auto;
}

.questions h2 {
    text-align: center;
}

.question {
    padding-bottom: 20px;
}

.question-answer p {
    font-family: Rubik-Regular !important;
}

.questions h3 {
    margin-bottom: 10px;
}

.questions p {
    margin: 0;
}

.questions h1, h2 {
    margin: 0;
    font-family: Rubik-Bold, sans-serif;
    text-align: center;
    font-size: 36px;
    color: var(--background-color);
}

.questions h2 {
    font-size: 24px;
}

.button-container {
    background-color: var(--bgbutton);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.apply-button {
    padding: 30px 70px;
    font-size: 32px;
    background-color: #23374D;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.apply-button:hover {
    background-color: #5087B7;
}

.apply-button:active {
    position: relative;
    top: 1px;
}

.course-information-container {
    display: flex;
    flex-direction: column;
}

.course-information-container p {
    color: darkred;
}

.course-information-images {
    display: flex;
    flex-wrap: wrap;
}

.course-information-container figure {
    display: flex;
    flex-basis: 100%;
}

.course-information-container figure:nth-child(odd) {
    flex-direction: row;
}

.course-information-container figure:nth-child(even) {
    flex-direction: row-reverse;
}

@media (max-width: 800px) {
    .course-information-container figure {
        flex-direction: column !important;
    }

    .course-information-container figure img,
    .course-information-container figcaption {
        width: 100%;
    }

    .course-information-container figure img {
        display: block;
        margin: 0 auto;
        width: 200px;
        height: auto;

    }
}

.register-container {
    height: 60em;
    padding-top: 0;
    padding-bottom: 0;
}