@font-face {
    font-family: Rubik-Bold;
    src: url(../fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: Rubik-Italic;
    src: url(../fonts/Rubik-Italic.ttf);
}

@font-face {
    font-family: Rubik-Regular;
    src: url(../fonts/Rubik-Regular.ttf);
}

:root {
    --main-color: #1089FF;
    --background-color: #23374D;
    --secondary-color: #E5E5E5;
    --bonus-color: #EEEEEE;
    --bgcolor1: #5087B7;
    --bgcolor2: #5C92BF;
    --bgcolor3: #679DCA;
    --bgcolor4: #73A8D2;
    --bgcolor5: #7EB3DD;
    --bgcolor6: #8ACFE7;
    --bgbutton: #95DAF2;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

body > * {
    padding-top: 50px;
    padding-bottom: 50px;
}

h3 {
    color: var(--background-color);
    font-size: 25px;
    font-family: Rubik-Bold, sans-serif;
}

p {
    color: var(--background-color);
    font-size: 20px;
    font-family: Rubik-Bold, sans-serif;
}

.nav {
    padding-top: 0;
    padding-bottom: 0;
    position: fixed;
    z-index: 1000;
    height: 50px;
    top: 0;
    width: 100%;
    font-family: Rubik-Bold, sans-serif;
    background-color: var(--background-color);
    text-align: left !important;
}

.nav img {
    height: 100%;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
    height: 50px;
    display: none;
}

@media (max-width: 635px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }


    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav > .nav-links {
        overflow: hidden;
        position: absolute;
        display: block;
        width: 100%;
        background-color: var(--background-color);
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }

    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }

    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}


/* Stylowanie slidera */
.slider {
    margin-top: 50px;
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    padding-top: 100px;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}

.slide.active {
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s ease-in-out;
}


.about-course-section {
    background-color: var(--bgcolor1); /* tło */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*margin-top: 20px;*/
    text-align: center;
}

.about-course-section h2 {
    font-family: Rubik-Bold, sans-serif;
    text-align: center;
    color: white;
    font-size: 36px;
}

.about-course-images {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.about-course-image {
    filter: invert(1);
    width: 200px;
    height: 200px;
    /*border-radius: 50%;*/
    object-fit: cover;
    margin: 0 10px;
}

.about-course-description {
    color: #333;
    font-size: 18px;
}

.about-course-caption {
    font-size: 20px;
    color:white;
    font-family: Rubik-Regular;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 0px 7px rgba(66, 68, 90, 1);
}

.footer {
    font-family: Rubik-Bold, sans-serif;
    color: #fff;
    background-color: #333;
    padding: 20px 0;
    font-size: 16px;
    text-align: center;
}

.container {
    background-color: #333;
    color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-links li a {
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

.footer-text {
    color: white;
    font-size: 16px;
    margin-top: 15px;
}

.about-us-section {
    background: rgb(103,157,202);
    background: -moz-linear-gradient(180deg, rgba(103,157,202,1) 90%, rgba(92,146,191,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(103,157,202,1) 90%, rgba(92,146,191,1) 100%);
    background: linear-gradient(180deg, rgba(103,157,202,1) 90%, rgba(92,146,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#679dca",endColorstr="#5c92bf",GradientType=1);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*margin-top: 20px;*/
    text-align: center;
}

.about-us-section h2 {
    font-family: Rubik-Bold, sans-serif;
    text-align: center;
    font-size: 36px;
    color: var(--background-color);
}

.about-us-images {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.about-us-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 10px;
}

.about-us-description {
    color: #333;
    font-size: 18px;
}

.about-us-caption {
    margin-top: 10px;
    font-size: 20px;
    font-family: Rubik-Regular;
}

.recommend-us-section {
    background: rgb(115,168,210);
    background: -moz-linear-gradient(360deg, rgba(115,168,210,1) 90%, rgba(92,146,191,1) 100%);
    background: -webkit-linear-gradient(360deg, rgba(115,168,210,1) 90%, rgba(92,146,191,1) 100%);
    background: linear-gradient(360deg, rgba(115,168,210,1) 90%, rgba(92,146,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#73a8d2",endColorstr="#5c92bf",GradientType=1);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*margin-top: 20px;*/
    text-align: center;
}

.recommend-us-section h2 {
    font-family: Rubik-Bold, sans-serif;
    text-align: center;
    font-size: 36px;
    color: var(--background-color);
}

.recommend-us-images {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.recommend-us-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 10px;
}

.recommend-us-description {
    color: #333;
    font-size: 18px;
}

.recommend-us-caption {
    font-family: Rubik-Regular, sans-serif;
    margin-top: 10px;
    font-size: 20px;
}

.sponsors-section {
    background-color: var(--bgcolor6); /* tło */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    /*margin-top: 20px;*/
    text-align: center;
}

.sponsors-section h2 {
    font-family: Rubik-Bold, sans-serif;
    text-align: center;
    font-size: 36px;
    color: var(--background-color);
}

.sponsors-images {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.sponsors-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 0 10px;
}

.benefits {
    background-color: var(--bgcolor2); /* tło */
    text-align: center;
}

.benefits h2 {
    font-family: Rubik-Bold, sans-serif;
    text-align: center;
    font-size: 36px;
    color: var(--background-color);
}

.benefit-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.benefit {
    text-align: center;
    flex: 0 0 33.33%;
    margin-bottom: 20px;
}

.benefit img {
    width: 180px;
    height: auto;
    margin: 0 auto;
}

/* Stylowanie slidera */
.slider2 {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    padding-top: 100px;
}

.slide2 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}

.slide2.active {
    opacity: 1;
}

.slide2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s ease-in-out;
}


/*768px dla tabletow*/
@media only screen and (max-width: 768px) {
    .slider {
        height: 200px;
    }

    .about-course-images {
        flex-wrap: wrap;
    }

    .about-course-image {
        margin-bottom: 10px;
    }

    .about-course-description {
        text-align: center;
    }

    .recommend-us-images {
        flex-wrap: wrap;
    }

    .recommend-us-image {
        margin-bottom: 10px;
    }

    .recommend-us-description {
        text-align: center;
    }

    .about-us-images {
        flex-wrap: wrap;
    }

    .about-us-image {
        margin-bottom: 10px;
    }

    .about-us-description {
        text-align: center;
    }

    .sponsors-images {
        flex-wrap: wrap;
    }

    .sponsors-image {
        margin-bottom: 10px;
    }

    .benefit-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.qna {
    max-width: 100%;
    background-color: var(--bgcolor5); /* tło */
}

.qna-section {
    max-width: 600px;
    margin: 0 auto;
    /*padding: 20px;*/
}

.qna-section h2 {
    text-align: center;
}

.question {
    /*margin-bottom: 20px;*/
    padding-bottom: 20px;
}
.question-content p{
    font-family: Rubik-Regular !important;
}
.qna-section h3 {
    margin-bottom: 10px;
}

.qna-section p {
    margin: 0;
}

.qna-section h1, h2 {
    margin: 0;
    font-family: Rubik-Bold, sans-serif;
    text-align: center;
    font-size: 36px;
    color: var(--background-color);
}

.qna-section h2 {
    font-size: 24px;
}

.button-container {
    background-color: var(--bgbutton);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.apply-button {
    padding: 30px 70px;
    font-size: 32px;
    background-color: #23374D;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.apply-button:hover {
    background-color: #5087B7;
}

.apply-button:active {
    position: relative;
    top: 1px;
}

.about-course-section {
    display: flex;
    flex-direction: column;
}
.about-course-section p{
    color: darkred;
}
.about-course-images {
    display: flex;
    flex-wrap: wrap;
}

.about-course-section figure {
    display: flex;
    flex-basis: 100%;
}

.about-course-section figure:nth-child(odd) {
    flex-direction: row;
}

.about-course-section figure:nth-child(even) {
    flex-direction: row-reverse;
}

@media (max-width: 800px) {
    .about-course-section figure {
        flex-direction: column !important;
    }

    .about-course-section figure img,
    .about-course-section figcaption {
        width: 100%;
    }

    .about-course-section figure img {
        display: block;
        margin: 0 auto;
        width: 200px;
        height: auto;

    }
}

.register-section{
    height: 60em;
    padding-top: 0px;
    padding-bottom: 0px;
}