@font-face {
    font-family: Rubik-Bold;
    src: url(../fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: Rubik-Italic;
    src: url(../fonts/Rubik-Italic.ttf);
}

/*root to takie zmienne w css XD*/
:root {
    --main-color: #1089FF;
    --background-color: #23374D;
    --secondary-color: #E5E5E5;
    --bonus-color: #EEEEEE;
}

body {
    margin: 0;
    padding: 0;
    font-family: Rubik, sans-serif;
}


.nav {
    position: fixed;
    z-index: 1000;
    height: 50px;
    top: 0;
    width: 100%;
    background-color: var(--background-color);
}
.nav img{
    height: 100%;
}
.nav > .nav-header {
    display: inline;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
    display: none;
}

@media (max-width: 600px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }

    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }

    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}


/* Stylowanie slidera */
.slider {
    margin-top: 50px;
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    padding-top: 100px;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}

.slide.active {
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s ease-in-out;
}


.about-course-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
}

.about-course-section h2 {
    font-family: Rubik-Bold, sans-serif;
    text-align: center;
    font-size: 36px;
    color: var(--background-color);
}

.about-course-images {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.about-course-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 10px;
}

.about-course-description {
    color: #333;
    font-size: 18px;
}

.about-course-caption {
    margin-top: 10px;
    font-size: 14px;
}

.footer {
    font-family: Rubik-Bold, sans-serif;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    font-size: 16px;
    text-align: center;
}

.container {
    background-color: #333;
    color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-links li a {
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

.footer-text {
    margin-top: 15px;
}

.about-us-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
}

.about-us-section h2 {
    font-family: Rubik-Bold, sans-serif;
    text-align: center;
    font-size: 36px;
    color: var(--background-color);
}

.about-us-images {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.about-us-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 10px;
}

.about-us-description {
    color: #333;
    font-size: 18px;
}

.about-us-caption {
    margin-top: 10px;
    font-size: 14px;
}

.recommend-us-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
}

.recommend-us-section h2 {
    font-family: Rubik-Bold, sans-serif;
    text-align: center;
    font-size: 36px;
    color: var(--background-color);
}

.recommend-us-images {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.recommend-us-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 10px;
}

.recommend-us-description {
    color: #333;
    font-size: 18px;
}

.recommend-us-caption {
    margin-top: 10px;
    font-size: 14px;
}

.sponsors-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    text-align: center;
}

.sponsors-section h2 {
    font-family: Rubik-Bold, sans-serif;
    text-align: center;
    font-size: 36px;
    color: var(--background-color);
}

.sponsors-images {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.sponsors-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 0 10px;
}

.benefits {
    text-align: center;
}

.benefits h2 {
    font-family: Rubik-Bold, sans-serif;
    text-align: center;
    font-size: 36px;
    color: var(--background-color);
}

.benefit-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.benefit {
    text-align: center;
    flex: 0 0 33.33%;
    margin-bottom: 20px;
}

.benefit img {
    width: 250px;
    height: auto;
    margin: 0 auto;
}

/* Stylowanie slidera */
.slider2 {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    padding-top: 100px;
}

.slide2 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}

.slide2.active {
    opacity: 1;
}

.slide2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s ease-in-out;
}


/*768px dla tabletow*/
@media only screen and (max-width: 768px) {
    .slider {
        height: 200px;
    }

    .about-course-images {
        flex-wrap: wrap;
    }

    .about-course-image {
        margin-bottom: 10px;
    }

    .about-course-description {
        text-align: center;
    }

    .recommend-us-images {
        flex-wrap: wrap;
    }

    .recommend-us-image {
        margin-bottom: 10px;
    }

    .recommend-us-description {
        text-align: center;
    }

    .about-us-images {
        flex-wrap: wrap;
    }

    .about-us-image {
        margin-bottom: 10px;
    }

    .about-us-description {
        text-align: center;
    }

    .sponsors-images {
        flex-wrap: wrap;
    }

    .sponsors-image {
        margin-bottom: 10px;
    }

    .benefit-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
