@font-face {
    font-family: Rubik-Bold;
    src: url(../fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: Rubik-Regular;
    src: url(../fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: Rubik-Light;
    src: url(../fonts/Rubik-Light.ttf);
}

:root {
    --main-color: #1089FF;
    --background-color: #23374D;
    --secondary-color: #E5E5E5;
    --bonus-color: #EEEEEE;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(16, 137, 255);
    background: -moz-linear-gradient(225deg, rgba(16, 137, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
    background: -webkit-linear-gradient(225deg, rgba(16, 137, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
    background: linear-gradient(225deg, rgba(16, 137, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1089ff", endColorstr="#e5e5e5", GradientType=1);
    height: 100vh;
    user-select: none;
}

.left-container {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(16, 137, 255);
    background: -moz-linear-gradient(225deg, rgba(16, 137, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
    background: -webkit-linear-gradient(225deg, rgba(16, 137, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
    background: linear-gradient(225deg, rgba(16, 137, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1089ff", endColorstr="#e5e5e5", GradientType=1);
    padding: 20px;
}

.home-link {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: red;
    text-decoration: none;
}

.home-link {
    margin-right: 5px;
    margin-top: -7%;
    color: var(--main-color);
    font-family: Rubik-Light;
}

.container-register .home-link {
    margin-top: 0;

}

.arrow_left {
    padding-right: 10px;
    transition: 0.5s;
}

.home-link:hover > .arrow_left {
    transform: scale(1.5);
    margin-right: 10px;
}

.right-container {
    width: 50%;
    position: relative;
    -webkit-box-shadow: 0 0 9px 8px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0 0 9px 8px rgba(0, 0, 0, 0.41);
    box-shadow: 0 0 9px 8px rgba(0, 0, 0, 0.41);
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background-text {
    font-family: Rubik-Bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 24px;
    text-shadow: 0 0 9px rgba(0, 0, 0, 0.7);
}

@keyframes glow_effect {
    0% {
        text-shadow: none;
    }
    50% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 1);
    }
    100% {
        text-shadow: none;
    }
}

.glow_effect {
    animation: glow_effect 2s infinite;
}

.container {
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    padding: 50px 20px;
    margin: 0 auto;
    transition: 0.75s ease;
}

.container-register {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    transition: 0.75s ease;
}

.container:hover {
    margin-top: -1%;
    -webkit-box-shadow: 0 0 41px 2px rgba(58, 89, 119, 1);
    -moz-box-shadow: 0 0 41px 2px rgba(58, 89, 119, 1);
    box-shadow: 0 0 41px 2px rgba(58, 89, 119, 1);
}

.gender-options label {
    display: inline-block;
    margin-right: 10px;
}

.container h2 {
    text-shadow: 0 0 9px rgba(196, 196, 204, 1);
    font-family: Rubik-Bold;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: var(--main-color);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--main-color);
    font-family: Rubik-Light;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 5px;
    border: solid black 1px;
    border-radius: 5px;
}

.error-message {
    font-family: Rubik-Light;
    color: red;
    margin-top: 5px;
}

.password-strength {
    margin-top: 5px;
    font-size: 12px;
    font-family: Rubik-Light;
    color: var(--main-color);
}

.password-strength.weak {
    color: red;
}

.password-strength.medium {
    color: orange;
}

.password-strength.strong {
    color: green;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--main-color);
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    border: 0;
    transition: 0.5s ease-in;
    cursor: pointer;
    font-family: Rubik-Regular;
}

.left-container a {
    text-decoration: none;
}

.btn-login:hover {
    filter: brightness(1.2);
}

.btn-register {
    background-color: var(--bonus-color);
    color: var(--background-color);
}

.btn-register:hover {
    background-color: var(--secondary-color);
}

@media (max-width: 768px) {
    .left-container,
    .right-container {
        width: 100%;
    }

    .left-container {
        height: auto;
        padding: 20px;
    }
}

@media only screen and (max-width: 900px) {
    .right-container {
        display: none;
    }
}
